Repository CalenDev/calendev, pull requests merged in 2023-02, with the labels that each got.

#65 bug: fix write post end dttm component (DEV-85)
  Client/src/pages/WritePost/WritePost.jsx
Labels: bug, front-end, layout

#66 DEV-86 fix filtering error
  Client/src/pages/Post/PostCalendar/PostCalendar.jsx
Labels: feature, front-end

#67 Ekgns33/feature/dev 83 refactor overall backend code
  server/backend/src/app.js
  server/backend/src/babel.config.cjs
  server/backend/src/domain/post/service/postService.js
  server/backend/src/domain/post/service/searchService.js
  server/backend/src/domain/user/controllers/authController.js
  server/backend/src/domain/user/controllers/userController.js
  server/backend/src/domain/user/service/userEmailService.js
  server/backend/src/domain/user/service/userJoinService.js
  server/backend/src/domain/user/service/userLogInService.js
  server/backend/src/global/config/knexConfig.js
  server/backend/src/global/config/redisConfig.js
  server/backend/src/global/security/jwt.js
  server/backend/src/package-lock.json
  server/backend/src/package.json
Labels: enhancement, back-end

#69 DEV-16 Create Profile Page
  Client/src/App.jsx
  Client/src/api/auth.js
  Client/src/api/index.js
  Client/src/api/post.js
  Client/src/api/user.js
  Client/src/features/User/UserSlice.js
  Client/src/pages/Profile/Profile.jsx
  Client/src/utils/change.js
  Client/src/utils/commonMsgText.js
  Client/src/utils/index.js
Labels: feature, front-end

#68 Ekgns33/feature/dev 89 implement profile password reset function
  server/backend/src/domain/user/controllers/authController.js
  server/backend/src/domain/user/dto/updateDto.js
  server/backend/src/domain/user/routes/userRoutes.js
  server/backend/src/domain/user/service/userJoinService.js
  server/backend/src/domain/user/service/userUpdateService.js
  server/backend/src/global/utils/requestValidator.js
Labels: feature, back-end

#70 Ekgns33/feature/dev 90 implement user profile api
  server/backend/src/domain/user/controllers/userController.js
  server/backend/src/domain/user/routes/userRoutes.js
  server/backend/src/domain/user/service/userJoinService.js
Labels: feature, back-end

#71 Dev-17 change nickname and password
  Client/src/features/User/UserSlice.js
  Client/src/pages/Profile/Profile.jsx
  Client/src/utils/commonModalText.js
  Client/src/utils/commonMsgText.js
Labels: feature, front-end

#72 Dev-20 withdraw user account
  Client/src/pages/Profile/Profile.jsx
Labels: feature, front-end

#73 Ekgns33/feature/dev 92 add user profile update logic
  server/backend/src/domain/user/controllers/userController.js
  server/backend/src/domain/user/dto/updateDto.js
  server/backend/src/domain/user/routes/userRoutes.js
  server/backend/src/domain/user/service/userUpdateService.js
Labels: feature, back-end

#75 DEV-93 fix: 유저 프로필 요청시 이메일 반환하도록 수정
  server/backend/src/domain/user/controllers/userController.js
  server/backend/src/domain/user/service/userJoinService.js
Labels: back-end

#74 Dev-91 fix profile page logic
  Client/src/api/auth.js
  Client/src/api/index.js
  Client/src/api/user.js
  Client/src/pages/Profile/Profile.jsx
Labels: feature, front-end
